@import url('https://fonts.googleapis.com/css2?family=TASA+Orbiter:wght@400..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tasa system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    color: rgb(255, 253, 253);
    font-family: Arial, Helvetica, sans-serif;

    height: 100vh;

    background-image: url("images/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Nav bar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e4e710cc;
    color: white;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 10; /*doubt*/
    backdrop-filter: blur(2px);
}

.navbar .logo{
    font-size: 24px;
    font-weight: bold;
    color: rgb(159, 63, 238);
}

.navbar nav button {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: opacity 0.2s;
    background: rgba(0, 0, 0, 0);
    border: none;
}

.navbar nav a:hover{
    opacity: 0.8;
}

/* Search bar */ 
.search{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    background: #e4e710cc;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

}

.search .search-type{
    border: 2px solid red;
    padding: 0;
    margin: 0;
    width: 150px;

}

.search input{
    width: 250px;
    padding: 10px;
    border: none;
    background: #696b036e;
    border-radius: 6px;
}

.search button {
    background: #696b036e;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.2s;
}

.search button:hover{
    background: #005999;
}

/* container */ 
.container{
    display: flex;
    justify-content: center;
   
}

/*Feed  */

.feed{
    margin-top: 20px;
    margin: 10px;
    width: 100%;
    max-width: 700px   
}

.feed h2{
    font-size: 30px;
    position: sticky;
    top: 50px;
    z-index: 10;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.feed .sub-icon{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

/* post card */ 
.post{
    color: white;
    background: #333232;
    border: none;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 10px;
    transition: box-shadow 0.2s;
}

.post:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.post h3{
    font-size: 18px;
    margin-bottom: 8px;
}

.post h3 a{
    color: white;
    text-decoration: none;
}

.post p{
    font-size: 14px;
    color: #555;
}

/* Image posts */
.post img{
    height: 500px;
    max-width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

/* Video posts */
.post video{
    max-width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

/* gallery posts */
.gallery{
    display: flex;
    gap: 8px;
    overflow-x: auto;
    margin-top: 10px;
    padding-bottom: 5px;
}

.gallery img{
   max-height: 100%;
    border-radius:10x;
    flex-shrink: 0;
}


.gallery::-webkit-scrollbar {
  height: 2px;
  background-color: grey;
}



#quality {
  padding: 5px;
  border-radius: 6px;
  margin: 10px 0;
}

/* SETTING */ 
.setting{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    background: #e4e710cc;
    padding: 10px 20px;
}

.setting select{
    background: #696b036e;
    border: none;
    border-radius: 8px;
    padding: 2px;
    color: white;
}

.setting button {
    background: #000000;
    color: white;
    border: none;
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.2s;
}

/* subscriptions */

.subscriptions{
    margin: 10px;
    margin-top: 20px;
}

#subscriptions h2{
    font-size: 30px;
}

#subscriptions button{
    color: white;
    padding: 5px;
    margin: 10px;
    background: rgb(159, 63, 238);
    border-radius: 8px;
    border: none;
}

.subscriptions li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    font-weight: bold;
    font-style: italic;
}